.login-register-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInRegister-form {
    padding: 1rem;
    width: -webkit-fill-available;
    max-width: 400px;
}

.signInRegister-form-toggle {
    padding: 1rem;
}

.signInRegister-form-toggle p {
    font-size: 0.9rem;
    color: var(--black-9);
  }
   
  .signInRegister-form-toggle strong {
    text-decoration: underline;
    color: var(--black-11);
  }
  
  .signInRegister-form-toggle strong:hover {
    cursor: pointer;
  }