.login-register-wrapper {
    width: 100%;
}

.signInRegister-form {
    padding: 1rem
}

.signInRegister-form-toggle {
    padding: 1rem;
}

.signInRegister-form-toggle p {
    font-size: 0.9rem;
  }
   
  .signInRegister-form-toggle strong {
    text-decoration: underline;
  }
  
  .signInRegister-form-toggle strong:hover {
    cursor: pointer;
  }