@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* radix ui colors */
/* @import "@radix-ui/colors/gray.css"; */
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/amber.css";

/* custom black and white because radix ui is retarded and has every other color */
:root {
  /* brand colors */
  --pink-12: #cc324c;
  --pink-11: #e63554;
  --pink-10: #FF385C; /* Reference color */
  --pink-9: #ff1a53;
  --pink-8: #ff3366;
  --pink-7: #ff4d7a;
  --pink-6: #ff668d;
  --pink-5: #ff80a0;
  --pink-4: #ff99b3;
  --pink-3: #ffb3c6;
  --pink-2: #ffccd9;
  --pink-1: #ffe6ec;

  /* black */
  --black-12: #202020;
  --black-11: #343434;
  --black-10: #484848;
  --black-9: #5c5c5c;
  --black-8: #707070;
  --black-7: #848484;
  --black-6: #989898;
  --black-5: #acacac;
  --black-4: #c0c0c0;
  --black-3: #d4d4d4;
  --black-2: #e8e8e8;
  --black-1: #f2f2f2;

  /* white */
  --white-13: #fff;
  --white-12: #fcfcfc;
  --white-11: #f0f0f0;
  --white-10: #d4d4d4;
  --white-9: #c0c0c0;
  --white-8: #acacac;
  --white-7: #989898;
  --white-6: #848484;
  --white-5: #707070;
  --white-4: #5c5c5c;
  --white-3: #484848;
  --white-2: #343434;
  --white-1: #202020;

  /* green */
  /* --green-1: #E3F7F3;
  --green-2: #C8F0E6;
  --green-3: #ADE9DA;
  --green-4: #92E2CD;
  --green-5: #77DBC1;
  --green-6: #5CD4B5;
  --green-7: #41CDAD;
  --green-8: #26C7A6;
  --green-9: #0BC1A0;
  --green-10: #00A67E; 
  --green-11: #008B66;
  --green-12: #006F4E; 

  /* fonts */
  --font-sohne: "Sohne", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-montserrat: "Montserrat", sans-serif
}

@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/Sohne/TestSohne-Buch-BF663d89cd32e6a.otf");
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat//Montserrat-VariableFont_wght.ttf");
}

.mapbox-directions-instructions {
  display: none !important;
}
/* base font size */
html {
  font-size: 16px;
  font-family: var(--font-sohne);
  color: var(--black-11);
}

@media screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-figtree);
  color: var(--black-12);
  padding: 0;
  margin: 0;
}

button {
  font-family: var(--font-figtree);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden !important;
}

.app-div {
  min-height: 100vh;
  overflow-x: hidden;
}

/* custom scrollbar styling */
.scrollbar-1::-webkit-scrollbar {
  width: 0.3rem;
}

.scrollbar-1::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px 0 0 0;
  background-color: var(--transparent);
}

.scrollbar-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black-7);
}

/* carousel styles */
.react-multi-carousel-track {
  height: 100%;
}


/* media queries */
@media screen and (min-width: 768px) {
  .app-pages {
    padding-top: 58px;
    display: flex;
    min-height: calc(100vh - 58px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .app-pages {
    padding-bottom: 73px;
    display: flex;
    min-height: calc(100vh - 73px);
  }

  .hide-on-sm {
    display: none;
  }

  .clickable:active {
    transform: scale(0.98) !important;
    transition: all ease 0.05s;
    /* line-height: 100%; */
  }
}

@media screen and (max-width: 550px) {
  .app-pages {
    padding-bottom: 52px;
    display: flex;
    min-height: calc(100vh - 52px);
  }
}
