@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* radix ui colors */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/yellow.css";

/* custom black and white because radix ui is retarded and has every other color */
:root {
  /* black */
  --black-12: #202020;
  --black-11: #343434;
  --black-10: #484848;
  --black-9: #5c5c5c;
  --black-8: #707070;
  --black-7: #848484;
  --black-6: #989898;
  --black-5: #acacac;
  --black-4: #c0c0c0;
  --black-3: #d4d4d4;
  --black-2: #e8e8e8;
  --black-1: #fcfcfc;

  /* white */
  --white-13: #fff;
  --white-12: #fcfcfc;
  --white-11: #f0f0f0;
  --white-10: #d4d4d4;
  --white-9: #c0c0c0;
  --white-8: #acacac;
  --white-7: #989898;
  --white-6: #848484;
  --white-5: #707070;
  --white-4: #5c5c5c;
  --white-3: #484848;
  --white-2: #343434;
  --white-1: #202020;
}
/* base font size */
html {
  font-size: 16px;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }
}

* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden !important;
}

.app-div {
  min-height: 100vh;
  overflow-x: hidden;
}

/* custom scrollbar styling */
.scrollbar-1::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-1::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px 0 0 0;
  background-color: var(--transparent);
}

.scrollbar-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black-50);
}


/* media queries */
@media screen and (min-width: 768px) {
  .app-pages {
    padding-top: 58px;
    display: flex;
    min-height: calc(100vh - 58px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .app-pages {
    padding-bottom: 73px;
    display: flex;
    min-height: calc(100vh - 73px);
  }

  .hide-on-sm {
    display: none;
  }

  .clickable:active {
    transform: scale(0.98) !important;
    transition: all ease 0.05s;
    /* line-height: 100%; */
  }
}

@media screen and (max-width: 550px) {
  .app-pages {
    padding-bottom: 52px;
    display: flex;
    min-height: calc(100vh - 52px);
  }
}
