.listing-booking-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    height: fit-content;
}

.listing-booking-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60%;
    gap: 2rem;
}

.listing-booking-details .booking-images {
    display: flex;
    height: 200px;
}

.listing-booking-details .booking-images .carousel-container {
    width: 100%;
}

.listing-booking-details .booking-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.booking-header-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-header-subtitle .available {
    color: green;
}

.booking-header-subtitle .unavailable {
    color: red;
}

.listing-booking-details .map-container {
    max-height: 250px;
    border-radius: 10px;
}

.booking-header-subtitle .travel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.booking-header-subtitle .travel .duration,
.booking-header-subtitle .travel .distance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.booking-header-subtitle .travel .duration .material-symbols-outlined {
    font-size: 1.1rem;
}

.booking-header-subtitle .travel .distance .material-symbols-outlined {
    font-size: 10px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.listing-marker {
    background-color: var(--pink-10);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.listing-booking-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40%;
}