.listing-booking-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
}

.listing-booking-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.listing-booking-details .booking-images {
    display: flex;
    height: 200px;
}

.listing-booking-details .booking-images .carousel-container {
    width: 200px;
}

.listing-booking-details .booking-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.listing-booking-details .map-container {
    max-height: 250px;
    border-radius: 10px;
}

.listing-marker {
    background-color: var(--pink-10);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.listing-booking-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}