/* Dashboard page */

.dashboard {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 54px);
  background-color: var(--white);
  flex: 1;
}

.dashboard-menu {
  display: flex;
  min-width: 200px;
  max-width: 250px;
  flex-direction: column;
  flex: 0.2;
  justify-content: space-between;
  background-color: var(--white);
  padding: 50px 10px 50px 10px;
}

.dashboard-menu-title {
  flex: 0;
  font-size: 0.9rem;
}

.dashboard-menu-title h2 {
  text-align: center;
  margin: 0;
  color: var(--black-50);
}

.dashboard-menu-items {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-menu-item {
  text-align: left;
}

.dashboard-menu-item button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  border: none;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  line-height: 100%;
}

.dashboard-menu-item button:hover {
  cursor: pointer;
  background-color: var(--black-10);
}

.active-dashboard-tab {
  background: linear-gradient(var(--black-10), var(--black-10)) padding-box,
    linear-gradient(to right, var(--pink), var(--black-25) 50%) border-box !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
}

.active-dashboard-tab .material-symbols-outlined {
  color: var(--pink) !important;
}

.dashboard-menu-item button .material-symbols-outlined {
  margin-right: 20px;
  color: var(--black-100);
  font-weight: 200px;
}

.dashboard-menu-item button .text {
  color: var(--black-100);
  font-weight: 400;
  font-size: 1rem;
}

.dashboard-menu-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-menu-footer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  border: 1px solid var(--blue);
  margin-bottom: 10px;
}

.dashboard-menu-footer h3 {
  margin: 0;
  color: var(--black-90);
  font-weight: 600;
}

.dashboard-menu-footer p {
  padding: 0;
  margin: 0;
  color: var(--black-75);
  font-weight: 300;
}

/* mobile dashboard menu */

.mobile-dashboard-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--white);
  z-index: 99;
  align-items: center;
}

.mobile-dashboard-menu-open {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all ease 0.3s;
  padding: 50px 20px;
}

.mobile-dashboard-menu-closed {
  left: -100%;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all ease 0.3s;
  /* padding: 50px 0px; */
}

.mobile-dashboard-menu button {
  background-color: transparent;
  border: none;
}

.mobile-dashboard-menu button:hover {
  cursor: pointer;
}

.mobile-dashboard-menu button .material-symbols-outlined {
  color: var(--black-100);
}

.mobile-dashboard-menu .menu-header h3 {
  color: var(--black-50);
  margin: 0;
}

.mobile-dashboard-menu .menu-avatar img {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}

/* dashboard content */

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--black-5);
  margin: 10px;
  border-radius: 10px;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .hide-on-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 73px);
  }

  .dashboard-menu {
    position: absolute;
    max-width: 100%;
    z-index: 98;
    justify-content: center;
  }

  .mobile-dashboard-menu-closed {
    padding: 50px 0px;
  }

  .dashboard-menu-footer {
    /* margin-top: 5rem; */
    display: none;
  }

  .dashboard-content {
    margin: 5px 5px 0 5px;
    padding: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 550px) {
  .dashboard {
    height: calc(100vh - 51px);
  }
}
