.dashboard {
  display: flex;
  flex-direction: row;
  background-color: var(--white-13);
  flex: 1;
  height: calc(100vh - 58px);
  overflow: hidden;
}

.dashboard-menu {
  display: flex;
  min-width: 200px;
  max-width: 250px;
  flex-direction: column;
  flex: 0.2;
  justify-content: space-between;
  background-color: var(--white-13);
  padding: 50px 10px 50px 10px;
}

.dashboard-menu-title {
  flex: 0;
  font-size: 0.9rem;
}

.dashboard-menu-title h2 {
  text-align: center;
  margin: 0;
  color: var(--black-10);
}

.dashboard-menu-items {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-menu-item {
  text-align: left;
}

.dashboard-menu-item button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white-13);
  border: none;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  line-height: 100%;
}

/* test */
.dashboard-menu-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white-13);
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid transparent;
  line-height: 100%;
  text-decoration: none;
}

/* test */
.dashboard-menu-item a:hover {
  cursor: pointer;
  background-color: var(--black-2);
}

.dashboard-menu-item .active {
  background: linear-gradient(var(--black-3), var(--black-3)) padding-box,
    linear-gradient(to right, var(--ruby-10), var(--black-5) 50%) border-box !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
}

.dashboard-menu-item .active .material-symbols-outlined {
  color: var(--ruby-10) !important;
}

.dashboard-menu-item .active .text {
  color: var(--black-12) !important;
}

.dashboard-menu-item button .material-symbols-outlined {
  margin-right: 20px;
  color: var(--black-12);
  font-weight: 200px;
}

/* test */
.dashboard-menu-item a .material-symbols-outlined {
  margin-right: 20px;
  color: var(--black-12);
  font-weight: 200px;
}

.dashboard-menu-item button .text {
  color: var(--black-12);
  font-weight: 400;
  font-size: 1rem;
}

/* test */
.dashboard-menu-item a .text {
  color: var(--black-12);
  font-weight: 500;
  font-size: 1rem;
}

.dashboard-menu-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-menu-footer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  margin: 10px;
  outline: 1px solid var(--ruby-10);
  outline-offset: 2px;
}

.dashboard-menu-footer h3 {
  margin: 0;
  color: var(--black-11);
  font-weight: 600;
}

.dashboard-menu-footer p {
  padding: 0;
  margin: 0;
  color: var(--black-10);
  font-weight: 300;
}

/* mobile dashboard menu */

.mobile-dashboard-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--white-13);
  z-index: 99;
  align-items: center;
}

.mobile-dashboard-menu-open {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all ease 0.3s;
  padding: 50px 20px;
}

.mobile-dashboard-menu-closed {
  left: -100%;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all ease 0.3s;
  /* padding: 50px 0px; */
}

.mobile-dashboard-menu button {
  background-color: transparent;
  border: none;
}

.mobile-dashboard-menu button:hover {
  cursor: pointer;
}

.mobile-dashboard-menu button .material-symbols-outlined {
  color: var(--black-12);
}

.mobile-dashboard-menu .menu-header h3 {
  color: var(--black-8);
  margin: 0;
}

.mobile-dashboard-menu .menu-avatar {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  outline: 1px solid var(--ruby-10);
  outline-offset: 2px;
}

/* dashboard content */

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--black-2);
  border: 2px solid var(--black-2);
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10px;
  padding: 1rem;
  gap: 2rem;
  position: relative;
  overflow-y: auto;
  box-shadow: inset rgba(100, 100, 111, 0.1) 0px 1px 20px 0px;
}

/* elements are located in listings.jsx */
.dashboard-content-body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .hide-on-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 73px);
  }

  .dashboard-menu {
    position: absolute;
    max-width: 100%;
    z-index: 98;
    justify-content: center;
  }

  .mobile-dashboard-menu-closed {
    padding: 50px 0px;
  }

  .dashboard-menu-footer {
    display: none;
  }

  .dashboard-content {
    margin: 0;
    padding: 1rem 5px;
    border-radius: 0;
  }
}

@media screen and (max-width: 550px) {
  .dashboard {
    height: calc(100vh - 52px);
  }
}
