@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --red: #ff0000;
    --red-darker: #ec0101;
    --navy-blue: #28355e;
    --navy-blue-darker: #253154;
    
    --blue: #4070ff;
    --blue-darker: #3965f0;
    
    --cyan: #3cbbb9;
    --cyan-darker: #38b1ab;
    
    --olive: #d0e0ae;
    --olive-darker: #c5d59c;
    
    --gold: #ecc84b;
    --gold-darker: #e3bc45;
    
    --pink: #ff385c;
    --pink-darker: #f73555;
    
    --black-100: #28355e;
    --black-100-darker: #253154;
    
    --black-75: #404040;
    --black-75-darker: #3b3b3b;
    
    --black-50: #7e7e7e;
    --black-50-darker: #757575;
    
    --black-25: #bbbbbb;
    --black-25-darker: #b3b3b3;
    
    --black-10: #e5e5e5;
    --black-10-darker: #dddcdc;
    
    --black-2: #fafafa;
    --black-2-darker: #f5f5f5;
    
    --white: #fff;
    --white-darker: #f8f8f8; /* White cannot be made darker, so this is the closest approximation */
    
}

* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Inter", sans-serif;
}

.signIn-form-header,
.register-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.signIn-form-header h2,
.signIn-form-header p,
.register-form-header h2,
.register-form-header p {
  margin: 0;
  padding: 10px 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.form-field input {
  background-color: var(--black-10);
  border: 1px solid var(--black-10);
  border-radius: 2px;
  height: 45px;
  padding: 0 10px;
  font-size: 16px;
  position: relative;
}

.form-field input:focus-visible {
  border: 1px solid var(--black-10) !important;
}

.password-input-wrapper {
  position: relative;
  display: flex;
}

.password-input-wrapper input {
  flex: 1;
  padding-right: 44px;
}

.password-visibility {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.password-visibility span {
  font-size: 20px;
  color: var(--black-75);
}

.password-visibility span:hover {
  cursor: pointer;
}

.field-label {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.field-message {
  font-size: 12px;
  color: var(--red);
}

.form-submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.form-submit-button button {
  width: 100%;
  height: 50px;
  background-color: var(--pink);
  color: var(--white-darker);
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.form-submit-button button:hover {
  background-color: var(--pink-darker);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.signInRegister-form-toggle p {
  font-size: 14px;
}
 
.signInRegister-form-toggle p span {
  text-decoration: underline;
}

.signInRegister-form-toggle p span:hover {
  cursor: pointer;
}