.dashboard-content-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 10px;
  }

  .dashboard-content-header .header-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 25px;
    justify-content: center;
  }
  
  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  
  .header-title .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-100);
    border-radius: 10px;
    border: 2px solid var(--black-25);
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1.2/1;
  }
  
  .header-title .title-icon .material-symbols-outlined {
    color: var(--white);
    padding: 5px 10px;
  }
  
  .header-title .title-text h3,
  .header-content .title-text h3 {
    margin: 0;
    font-size: 1.4rem;
  }
  
  .header-title .title-text p,
  .header-content .title-text p {
    margin: 0;
    color: var(--black-50);
    font-size: 0.8rem;
  }

  @media screen and (max-width:768px) {
    .header-title .title-icon {
      display: none;
    }
  }