.mapboxgl-popup {
    max-width: fit-content !important;
}

.mapboxgl-popup * h1,
.mapboxgl-popup * p,
.mapboxgl-popup * span {
    margin: 0;
    padding: 0;
}

.map-popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
}

.mapboxgl-popup-close-button {
    font-size: 1rem;
}

/* .map-popup-heading .title {
    margin: 0;
    padding: 0;
} */

.map-popup-heading .price {
    margin: 0;
    padding: 0;
}

.map-popup-button {
    width: 100%;
}