.search-map-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.search-map-container {
  height: 100%;
  width: 100%;
}

.map-styles {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1;
  padding: 16px;
  border-bottom-left-radius: 10px;
}

.map-styles-trigger {
  padding: 16px;
}

.map-styles-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.map-style {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-style button {
  border-radius: 4px;
  padding: 0;
  border: 2px solid var(--mauve-5);
  height: 4rem;
  width: 4rem;
}

.map-style button img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.map-style span {
    font-size: 0.8rem;
  }
