.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.search-map-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.search-map-container {
  height: 100%;
  width: 100%;
}

.search-this-area-button {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  background-color: var(--white-13);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 20px 0px;
}

.search-this-area-button:hover {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 3px 20px 0px;
}

.map-styles {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1;
  padding: 0.6rem;
  border-bottom-left-radius: 10px;
}

.map-styles-trigger {
  padding-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.map-styles-trigger:hover + .map-styles-dropdown {
  display: flex;
}

.selected-map-style {
  border: 2px solid white;
}

.map-styles-trigger .map-style:hover > .selected-map-style {
  border: 3px solid white;
}

.selected-map-style::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  top: 0;
  left: 0;
  border-radius: 4px;
}

.selected-map-style img {
  background-color: rgb(0, 0, 0, 0.5);
  filter: opacity(0.5);
  background-color: black;
}

.selected-map-style .text {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.map-styles-dropdown {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 16px;
  border-radius: 8px;
}

.map-styles-dropdown:hover {
  display: flex;
}

.map-style {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map-style button {
  border-radius: 5px;
  padding: 0;
  height: 3.5rem;
  width: 3.5rem;
}

.map-styles-dropdown .map-style button {
  border: 2px solid var(--mauve-5);
}

.map-styles-dropdown .map-style:hover > button {
  border: 2px solid var(--blue-9) !important;
}

.map-style button img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-position: left;
}

.map-style span {
  font-size: 0.7rem;
  font-weight: 400;
}

.map-styles-dropdown .map-style:hover > span {
  color: var(--blue-9);
}

.map-marker {
  background-color: white;
  border: 3px solid red;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.map-marker:hover {
  background-color: red;
}

