.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* home global sections */

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 5cqw;
  font-weight: 750;
  color: var(--black-10);
  margin: 0 0 5% 0;
}

/* end global styles */

.home-hero-section {
  height: calc(100svh - 58px);
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
  align-self: center;
  margin: 2px 0;
}

.hero-content-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  gap: 15%;
}

.hero-content .hero-content-text .title {
  container-type: inline-size;
}

.hero-content .hero-content-text .title p {
  font-size: 10cqw;
  font-weight: 750;
  color: var(--black-11);
  margin: 0;
}

.hero-content-text .text .subtitle-1 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--black-8);
  margin: 0;
}
.hero-content-text .text .subtitle-2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black-12);
  margin: 0;
}

/* hero section search form */

.hero-address-searchBox {
  border-radius: 50px !important;
  box-shadow: none !important;
}

.hero-search-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-search-form .search-field {
  display: flex;
}

.hero-search-form .search-field input {
  width: 100%;
  border-radius: 50px;
  padding: 18px 30px;
  border: 1px solid var(--black-6);
  height: auto;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black-11);
}

.hero-content .hero-content-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.hero-content .hero-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-ticker {
  justify-self: flex-end;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  animation: scrollText 20s infinite linear;
  width: 200%;
  margin-bottom: 2px;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.hero-ticker .tick {
  border-top: 1px solid var(--black-2);
  border-right: 1px solid var(--black-2);
  border-bottom: 1px solid var(--black-2);
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-ticker .tick strong {
  font-size: 0.9rem;
  color: var(--black-50);
}

/* how it works steps */

.home-steps-section {
  background-color: var(--black-2);
  flex-direction: column;
  padding: 5% 2%;
}

.home-section-wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.steps {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.step {
  display: flex;
  flex-direction: column;
}

.step-img {
  height: 200px;
  width: 200px;
  background-color: rgb(245, 245, 178);
  border-radius: 50%;
  position: relative;
  align-self: flex-start;
}

.step-img .step-index {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--black-12);
  color: var(--white-11);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
}

/* book now section */

.home-book-now-section {
  background-color: var(--blue-9);
  position: relative;
  overflow: hidden;
  padding: 5% 2%;
}

.home-book-now-section .home-section-wrapper {
  flex-direction: column;
}

.home-book-now-section .section-heading {
  color: var(--white-12);
}

.home-book-now-section .background-pattern {
  background-color: cyan;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 150%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.book-now-section-content {
  display: flex;
  flex-direction: row;
}

.book-now-section-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 30px;
}

.home-book-now-section .section-subheading {
  color: var(--white-11);
  font-size: 1.2rem;
}

.book-now-section-img {
  width: auto;
}

.book-now-section-img img {
  max-height: 500px;
  position: relative;
}

/* faq accordion */

.home-faqs-section {
  padding: 5% 2%;
}

.AccordionTrigger {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--white-12);
  border-top: 1px solid var(--black-5);
  border-bottom: none;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  /* margin: 0; */
  padding: 15px 0;
}

.AccordionTrigger span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black-10);
}

.AccordionTrigger[data-state='open'] > .accordion-icon {
  transform: rotate(180deg);
}

.accordion-icon {
  transition: transform 200ms;
}

/* accordion expand collapse animation */

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 200ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 200ms ease-in;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* media queries */

@media screen and (min-width: 768px) {
  .home-hero-section {
    height: calc(100svh - 58px);
  }
}

@media screen and (max-width: 1100px) {
  .hero-ticker {
    width: 300%;
  }
}

@media screen and (max-width: 768px) {
  .home-hero-section {
    height: calc(100svh - 73px);
  }

  .hero-ticker .tick strong {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .home-hero-section {
    min-height: calc(100svh - 52px);
  }
}
