.address-input-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.address-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.address-inputs input {
    width: 100%;
    padding: 0.5rem;
}

.address-input-group {
    flex: 1;
    flex-direction: column;
}

.address-search-minimap {
    flex: 1;
}

.address-search-container .form-buttons-section {
    padding-top: 1rem;
}

.address-search-container .clear-button {
    padding: 0.4rem 0.8rem;
    color: var(--blue-10);
    font-weight: 400;
    font-size: 0.9rem;
}

.address-search-container .clear-button:hover {
    background-color: var(--blue-2);
}

#minimap-container {
    height: 100%;
    width: 100%;
}

.mbx0cf91cd6--Results {
    z-index: 1000000 !important;
}

.mapboxgl-ctrl-geocoder {
    z-index: 1000000 !important;
  }


  @media screen and (max-width: 600px) {
    .address-input-section {
        flex-direction: column;
    }
  }

  