.mobile-navbar-root {
    width: 100vw;
    position: fixed;
    bottom: 0;
    /* padding: 12px 0; */
    border-top: 1px solid var(--black-10);
    background-color: var(--white);
}

.mobile-navbar-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.mobile-navbar-item {
    list-style-type: none;
    width: 100%;
}

.mobile-navbar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-75);
    gap: 5px;
    padding: 12px 0;
} 

.mobile-navbar-link:hover {
    color: var(--blue-darker);
    transition: all ease-in-out 0.2s;
} 

.mobile-navbar-icon {
    font-size: 30px;
    font-weight: lighter;
}

.mobile-navbar-image-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.mobile-navbar-text {
    font-size: 11px;
}

.mobile-signIn-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    border: none;
    background-color: var(--blue);
    justify-content: space-around;
    padding: 12px 0;
    border-radius: 0;
}

.mobile-signIn-button:hover {
    background-color: var(--blue-darker);
    border: none;
    transition: all ease-in-out 0.1s;
}

/* account submenu */

.mobile-account-submenu {
    position: absolute;
    bottom: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--white-darker);
}

.mobile-account-submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.mobile-account-submenu .mobile-navbar-item:last-child {
    border-top: 1px solid var(--black-50);
}

.mobile-account-submenu .mobile-navbar-link {
    flex-direction: row;
    gap: 1.5rem;
}

.mobile-account-submenu .mobile-navbar-text {
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .mobile-navbar-root {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .mobile-navbar-link {
        padding: 8px 0;
    }

    .mobile-navbar-icon {
        font-size: 20px;
        font-weight: lighter;
    }

    .mobile-navbar-image-icon {
        height: 20px;
        width: 20px;
    }
    
    .mobile-navbar-text {
        font-size: 8px;
    }
}
