.step-progress-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.step-progress-bar .bar-wrapper {
  position: absolute;
  height: 100%;
}

.step-progress-bar .bar {
  height: 2px;
  background-color: var(--black-6);
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

.step-progress-bar .bar .bar-highlight {
  background-color: var(--pink-10);
  height: 100%;
  
}

.step-progress-bar .step {
  /* necessary styles */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
}

.step-progress-bar .step .step-number {
  height: 30px;
  width: 30px;
  border: 1px solid var(--black-9);
  background-color: white;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  color: var(--black-9);
}


.step-progress-bar .step-current .step-number {
  background-color: var(--pink-7);
  color: white;
  border: none;
}

.step-progress-bar .step-completed .step-number {
  background-color: var(--pink-10);
  color: var(--white-13);
  border: none
}

.step-progress-bar .step .step-caption {
  font-size: 12px;
  color: var(--black-9);
}

.step-progress-bar .step-current .step-caption {
  color: var(--pink-7);
}

.step-progress-bar .step-completed .step-caption {
  color: var(--pink-10);
}

