.listing {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.listing:not(:last-child) {
    border-bottom: 1px solid var(--black-10);
    padding-bottom: 1rem;
}

.listing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--blue-10);
    border-radius: 4px;
}

.listing-body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}

.listing-body-images {
    width: 200px;
    height: auto;
    max-height: 200px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listing-body-images .first-image {
    flex: 1;
    overflow: hidden;
}

.listing-body-images * img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    border: 1px solid var(--black-50);
    box-sizing: border-box;
}

.listing-body-images .multiple-images {
    display: flex;
    flex-direction: row;
    height: 25%;
    gap: 5px;
    overflow: hidden;
}

.listing-body-images .multiple-images img {
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    min-width: 20%;
    flex: 1;
}

.listing-body-content {
    flex: 1;
    padding-right: 2rem;
}

.listing-title {
    margin-top: 0;
}

.listing-body-actions {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-width: 180px;
}

.listing-insights {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.insights-divider {
    width: 1px;
    height: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black-10);
    position: absolute;
    top: 50%;
}

.listing-insights .insight {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.insight-number {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.insight-text {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: var(--black-50);
}

/* edit listing dialog */

.edit-listing-dialog {
    align-self: flex-end;
}

.edit-listing-dialog .dialog-content .dialog-body {
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .listing-body {
        flex-wrap: wrap;
    }

    .listing-body-images {
        width: 100%;
        height: 220px;
        flex: 0 1 auto;
        flex-direction: row;
    }

    .listing-body-images .multiple-images {
        height: 100%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .listing-body-actions {
        order: 1;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
    }

    .listing-insights {
        gap: 2rem;
    }

    .listing-body-images {
        order: 2;
        flex-direction: column;
        height: 220px;
    }

    .listing-body-content {
        order: 3;
    }

    .listing-body-images .multiple-images {
        height: 25%;
        max-width: 100%;
    }
}