/* general button styles */
button {
  position: relative;
}

button:hover {
  cursor: pointer;
  position: relative;
}

button:disabled {
  cursor: auto !important;
  position: relative;
}

/* general primary button styles */
.default-button {
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 500;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-button:active {
  transform: scale(0.98);
}

.large-rounded-button {
  padding: 18px 30px;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .default-button {
    /* padding: 0.5rem 1rem; */
  }
}

@media screen and (max-width: 550px) {
  .default-button {
    padding: 0.4rem 0.8rem;
    /* font-weight: 300; */
  }
}

/* action button for MAIN ACTIONS/RESERVE/BOOKINGS */
.action-button {
  background-color: var(--pink-10);
  color: var(--white-12);
}

.action-button:hover {
  background-color: var(--pink-11);
}

.action-button:active {
  background-color: var(--pink-12);
}

.action-button:disabled {
  background-color: var(--pink-6);
}

/* primary button for MAIN CRUD OPERATIONS */
.primary-button {
  background-color: var(--black-11);
  color: var(--white-12);
}

.primary-button:hover {
  background-color: var(--black-12);
}

.primary-button:active {
  background-color: black;
}

.primary-button:disabled {
  background-color: var(--black-8);
  color: transparent;
}

/* secondary-button EDIT/CANCEL/FILTERS */
.secondary-button {
  background-color: var(--black-2);
  color: var(--black-12);
  font-weight: 500;
}

.secondary-button:hover {
  background-color: var(--black-3);
}

.secondary-button:active {
  background-color: var(--black-4);
}

.secondary-button:disabled {
  background-color: var(--black-2);
  color: var(--black-8);
}

/* control button TRIGGER/EXPAND/FILTERS */
.control-button {
  background-color: transparent;
  color: var(--black-12);
  font-weight: 600;
  text-decoration: underline;
}

.control-button:hover {
  background-color: var(--black-1);
}

.control-button:active {
  background-color: var(--black-2);
}

.control-button:disabled {
  background-color: transparent;
  color: var(--black-8);
  text-decoration: none;
}

/* delete button DELETIONS */
.delete-button {
  background-color: var(--red-10);
  color: var(--white-12);
}

.delete-button:hover {
  background-color: var(--red-11);
}

.delete-button:active {
  background-color: var(--red-12);
}

.delete-button:disabled {
  background-color: var(--red-7);
}

.white-button {
  justify-content: space-between;
  gap: 10px;
  background-color: var(--white-12);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 1px 10px 0px;
}

.white-button:hover{
  background-color: var(--white-13);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;
}
