.dashboard-header {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--white); */
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-title .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-100);
    border-radius: 10px;
    border: 2px solid var(--black-25);
}

.header-title .title-icon .material-symbols-outlined {
    color: var(--white);
    padding: 5px 10px;
}

.header-title .title-text h3,
.header-content .title-text h3 {
    margin: 0;
    font-size: 1.4rem;
}

.header-title .title-text p,
.header-content .title-text p {
    margin: 0;
    color: var(--black-50);
    font-size: 0.8rem;
}

.dashboard-header .header-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 25px;
}

.filter-listings button,
.new-listing button {
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: var(--black-25) 0px 0px 5px;
    height: 100%;
    padding: 0 20px;
    font-size: 1rem;
}

.filter-listings button:hover,
.new-listing button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.2);
}

.filter-listings button {  
    background-color: var(--white);
    color: var(--black-100);
    /* border: 1px solid var(--black-50); */
    display: flex;
}

.header-content .new-listing button {
    background-color: var(--pink);
    /* border: 2px solid var(--black-25); */
    color: var(--white);
}

.header-content  .title-text{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* new listing dialog */

.new-listing-dialog {
    width: 100vw;
    max-width: 100vw;
    height: 85vh;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (max-width: 1000px) {
    .header-content button .text {
        display: none;
    }
}
