/* styling dashboard header components that are in listings dashboard component */
.listing-header-button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filter-listings-button,
.new-listing-button {
  justify-content: space-between;
  gap: 10px;
}

.new-listing {
  background-color: var(--pink);
  color: var(--white);
}

.header-content .title-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mobile-listing-header-button-group */

.mobile-listing-header-button-group {
  display: flex;
  width: 100%;
  gap: 3%;
}

.mobile-listing-header-button-group button {
  display: flex;
  flex: 1;
  padding: 8px 12px;
}

/* listings sort form */

.filter-dialog {
  width: 300px;
  max-width: 90vw;
  align-self: center;
  height: fit-content;
}

.user-listings-sort-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.user-listings-sort-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
}

/* filter listings dialog, styling radio input to look like checkbox lol */

.user-listings-sort-field input[type="radio"] {
  appearance: none;
  background-color: var(--white-13);
  width: 25px;
  height: 25px;
  border: 2px solid var(--black-3);
  border-radius: 2px;
  display: inline-grid;
  place-content: center;
}

.user-listings-sort-field input[type="radio"]:hover {
  cursor: pointer;
}

.user-listings-sort-field input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transform-origin: bottom left;
  background-color: var(--white-13);
  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

.user-listings-sort-field input[type="radio"]:checked::before {
  transform: scale(1);
}
.user-listings-sort-field input[type="radio"]:checked {
  background-color: var(--blue-10);
  border: 2px solid var(--blue-10);
}

/* style the link displayed when no user listings */
.no-listings-link {
  width: fit-content;
  align-self: center;
  color: var(--black-10);
  font-size: 1rem;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* user listings display */

.listings-display {
  background-color: var(--white-12);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* media queries */

@media screen and (max-width: 550px) {
  .listing-header-button-group {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header-content button .text {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .mobile-listing-header-button-group {
    display: none;
  }
}
