.search-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: calc(100vh - 58px);
  overflow: hidden;
}

.search-listings {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  min-width: 400px;
  max-width: 500px;
  background-color: white;
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.search-listings-header {
  padding-right: 0.4rem;
}

.search-listings-input input {
  /* width: 100%; */
}

.search-listings-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-listings-filter .text {
  margin: 0;
}

.search-listings-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  padding-right: 0.4rem;
}

.search-map {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-map img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .search-listings {
    display: none;
  }
}
