.search-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: calc(100vh - 58px);
  overflow: hidden;
}

.search-listings {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  min-width: 400px;
  max-width: 500px;
  background-color: white;
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.search-listings-header {
  padding-right: 0.4rem;
}

/* styling search route types  */
.search-route-types {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.8rem 0;
  gap: 0.5rem;
}

.search-route-types .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* max-width: 250px; */
}

.search-route-types .button-group .active {
  color: var(--blue-10);
  background-color: var(--blue-2);
}

.route-type-btn {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.route-type-btn:hover {
  color: var(--blue-10);
}

.route-type-btn .material-symbols-outlined {
  font-size: 1.3rem;
}

.search-route-types .route-type-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.route-type-result .distance {
  color: var(--black-8);
}

.route-type-result .duration {
  color: var(--black-12);
}

.search-listings-input input {
  /* width: 100%; */
}

.search-listings-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--black-1); */
}

.search-listings-filter .text {
  margin: 0;
}

.search-listings-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  padding-right: 0.4rem;
  background-color: var(--black-1);
}

.search-map {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-map img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .search-listings {
    display: none;
  }
}
