

.search-listings-display .is-hovered {
    border: 1px solid var(--pink-5);
}

.search-listing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 180px;
    border: 1px solid var(--black-2);
    border-radius: 10px;
    padding: 5px;
}

.react-multi-carousel-list {
    height: 100%;
}

.search-listing-image {
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    border-radius: 5px;
    position: relative;
}

.search-listing-image img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.search-listing-image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-listings-display .is-hovered .search-listing-image-overlay {
    display: none;
}

.search-listing-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.search-listing-header .subheading {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: var(--black-8);
}

.search-listing-header .heading {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
}

.search-listing-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-listing-body .line-1,
.search-listing-body .line-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.search-listing-body .listing-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.search-listing-body .listing-rating .value {
    color: var(--black-98);
}

.search-listing-body .listing-rating .count {
    font-size: 0.9rem;
    color: var(--black-8);
}

.search-listing-body .star {
    font-size: 1.2rem;
    color: gold;
}

.search-listing-body .listing-availability {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-listing-open .listing-availability {
    color: var(--green-10);
}

.search-listing-closed .listing-availability {
    color: var(--red-10);
}

.search-listing-body .listing-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    color: var(--black-8);
}

.search-listing-body .listing-address .post-code {
    font-weight: 600;
    font-style: italic;
    color: var(--black-9);
}

.search-listing-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0.5rem;
    border-top: 1px solid var(--black-2);
}

.search-listing-price {
    font-size: 1rem;
}

.search-listing-price .text {
    color: var(--black-8);
}

.search-listing-price .price {
    color: var(--black-12);
}

.search-listing-button {
    color: var(--pink-10);
}

.search-listing-button:hover {
    background-color: var(--pink-1);
}

/* custom carousel arrows */
.custom-arrow {
    background-color: var(--white-13);
    color: var(--black-12);
    display: none;
    position: absolute;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translateY(-50%);
    top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.search-listing:hover .search-listing-image .custom-arrow {
    display: flex !important;
}

.custom-arrow .material-symbols-outlined {
    font-size: 0.9rem;
}

.custom-arrow-right {
    right: 3px;
}

.custom-arrow-left {
    left: 3px;
}