.search-listing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--gray-5);
    border-radius: 10px;
    background-color: var(--gray-1);
    height: 500px;
}

.search-listing:hover {
    border: 1px solid var(--blue-5);
}

.search-listing-image {
    height: 100px;
    width: 100px;
}

.search-listing-image img {
    height: 100%;
    width: 100%;
}