.default-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .custom-time {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .custom-time-btn {
    width: fit-content;
    align-self: flex-end;
  }
  
  .time-picker {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
  }
  
  .hour-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .time-picker .heading {
    align-self: center;
    font-size: 0.8rem;
    color: var(--black-9);
  }
  
  .hour-section .hours {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-right: 1px solid var(--black-2);
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hour-section .hours::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hour-section .hours {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .minute-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .minute-section .minutes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .hour,
  .minute {
    border: none;
    border-bottom: 1px solid var(--black-2);
    padding: 8px;
  }
  
  .hour:last-of-type,
  .minute:last-child {
    border: none;
  }
  
  .hour:hover,
  .minute:hover {
    cursor: pointer;
    background-color: var(--black-3);
  }
  
  .hour:disabled,
  .minute:disabled {
    cursor: auto;
    background-color: var(--black-1);
  }
  
  .hours .selected-time,
  .minutes .selected-time {
    background-color: var(--black-4);
  }
  