.profile-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5%;
}

.profile-page-breadcrumbs {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.breadcrumb-item a {
    padding: 0 5px;
}

.profile-page-content {
    display: flex;
}