.dialog-open {
  display: flex;
}

.dialog-closed {
  display: none;
}

.dialog-backdrop {
  position: fixed;
  justify-content: center;
  z-index: 1000;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-content {
  height: calc(100% - 2rem);
  padding: 0 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

/* global dialog styles apply to all dialogs */
.dialog {
  border: none;
  box-shadow: hsl(206 22% 7% / 35%) 0px 0px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 0px 20px -15px;
  padding: 0;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid var(--black-2);
  background-color: var(--white);
  z-index: auto;
}

@media screen and (max-width: 650px) {
  .dialog-header-spacer {
    display: none;
  }
}

.dialog-header .text {
  margin: 0;
  text-wrap: nowrap;
}

.dialog-header-btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dialog-scrolled::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 20%;
  background-color: var(--black-10);
  bottom: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.9);
  transition: all ease 1s;
}

.dialog-body {
  height: auto;
  overflow-y: auto;
  display: flex;
  padding: 1rem 0.7rem 0rem 1rem;
  z-index: auto;
  justify-content: center;
}

/* custom scrollbar styling */
.scrollbar-1::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-1::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px 0 0 0;
  background-color: var(--transparent);
}

.scrollbar-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black-50);
}

/* styles for dialogs full screen width */

.full-width-dialog {
  width: calc(100vw - 0rem);
  max-width: 100vw;
  height: 95vh;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: contentShow2 150ms cubic-bezier(0.16, 1, 0.3, 1);
  align-self: flex-end;
}

/* styles for dialog content width */

.content-width-dialog {
  border-radius: 10px;
  padding-bottom: 1rem;
  max-width: 100vw;
  width: fit-content;
  min-width: 400px;
  height: fit-content;
  align-self: center;
  animation: contentShow1 150ms cubic-bezier(0.16, 1, 0.3, 1);
  max-height: 80vh;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow1 {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentShow2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* minimized / maximized dialog styles */

.dialog-backdrop-minimized {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  bottom: 1rem;
  right: 1rem;
  border-radius: 20px;
}

.dialog-backdrop-maximized {
  background-color: rgb(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.minimized-dialog-content {
  width: fit-content;
  max-width: 800px;
  border-radius: 10px;
  padding-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 20px 0px;
}

.dialog-header-minimized {
  padding-bottom: 0rem;
  border-bottom: none;
  gap: 3rem;
}

.dialog-header-minimized .dialog-header-spacer {
  display: none;
}

.dialog-body-minimized {
  display: none;
}
