dialog {
    background-color: red;
}

dialog::backdrop {
    color: blue;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
}

.ontop {
    z-index: 1000;
    color: pink;
    background-color: white;
}