.dropdown-menu-content {
    background-color: var(--white-13) ;
}

.dropdown-menu-item {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
}

.dropdown-menu-item a {
    font-family: var(--font-figtree);
    text-decoration: none;
    color: var(--black-10);
}

.dropdown-menu-item .active {
    color: var(--black-12);
    font-weight: 800;
}