.dropdown-menu-content {
  background-color: var(--white-13);
}

.dropdown-menu-item {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

.dropdown-menu-item a {
  font-family: var(--font-figtree);
  text-decoration: none;
  color: var(--black-10);
}

.dropdown-menu-item .active {
  color: var(--black-12);
  font-weight: 800;
}

/* custom dropdown menu */

.dropdown-menu {
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--white-13);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 1px 10px 0px;
}

.dropdown-menu:hover {
  background-color: var(--white-13);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;
}

.dropdown-menu-trigger button {
  background-color: transparent;
  gap: 10px;
}

.dropdown-icon-collapse {
    transform: rotate(180);
}

.dropdown-icon-expand {
    transform: rotate(180deg);
}

.dropdown-menu-content {
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 10px 15px 0px;
}

.dropdown-menu-content .active {
    color: var(--black-12);
    font-weight: 600;
}

.dropdown-menu-item {
  justify-content: flex-start;
  text-decoration: none;
  color: var(--black-9);
  font-family: var(--font-figtree);
  font-weight: 500;
}

.dropdown-menu-item:hover {
  background-color: var(--black-1);
}


/* review dialog styling */
.review-dialog-content{
  max-width: 450px;
  width: 100vw;
}

.reviewed-listing {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.reviewed-listing-img {
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid var(--pink-10);
  border-radius: 10px;
}

.reviewed-listing-img img {
 height: 100%;
 width: 100%;

  object-fit: cover;
  
}

.reviewed-listing-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-form {
	max-width: 400px;
	margin: 0 auto;
}

.rating {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.rating input {
	display: none;
}

.rating label {
	font-size: 24px;
	cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label {
	color: orange;
}

.rating input:checked ~ label {
	color: orange;
}

.rating input:checked ~ label ~ label {
  color: orange;
}

.comment {
	margin-bottom: 20px;
}

.comment textarea {
	width: 100%;
	height: 100px;
	resize: none;
  box-sizing: border-box;
}

.submit-btn {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}


